body{
    font-family: 'Raleway', sans-serif;}

   

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;}

 #logo{
    max-height: 50%;
    max-width: 50%;
    padding-left: 20px;}

#accueil{ display: flex;
    flex-direction: row;
    list-style-type: none;}

#hebergements{
    padding-right: 40px;
    color: black;}

#activités{
    padding-left: 30px;
    padding-right: 20px;
    color: black;}

li:hover{
    color: #0065FC ;
    border-top: 3px solid #0065FC ;}


#section1{
    padding-left: 30px;}

#titre{
    font-size: 20px;
    font-weight: bold;}

#formulaire{
    width: 500px;
    border-radius: 10px;
    display: flex;}

#iconmap{
    height: 50px;
    width: 50px;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    border: none;
    text-align: center;
    display: flex !important;}

#localisation{
    height: 50px;
    width: 230px;
    margin-left: 10px;
    color: black;
    font-size: 20px;
    border: none;}

#recherche{
    border: none;
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    height: 50px;
    width: 110px;}

#filtres{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;}

    .icones{
        display: flex !important;
        color:#0065FC;
        background-color:#DEEBFF;
        border-radius: 25px;
        height: 40px;
        width: 40px;
        font-size: 15px;
        border: 2px solid #F2F2F2;
        align-items: center;
       justify-content: space-around;}  

  
.flitresinfo{
    margin-left: 30px;
    margin-right: 20px;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
    width: 150px;
    display: flex;
    align-items: center;}


#info{
    margin-top: 20px;
    display: flex;
    font-size: 15px;}
#info .fas.fa-info{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#0065FC ;
    border: 3px solid #F2F2F2;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    margin-right: 10px;}



/*Hebergements a marseille*/

#sectionaside{
    display: flex;
    margin-top: 20px;}

#section2{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-right: 40px;
    margin-left: 30px;
    margin-bottom: 20px;
    
    padding-left: 20px;
    width: 70%;}


#hebergementsmarseille{
    display: flex;
    margin-top: 40px;
    margin-left: 15px;}

.bleu{
    color:#0065FC
}

.gris{
    color:#F2F2F2;
}
#hebergements1{
    display: flex;
    padding-left: 20px;
    margin-right: 40px;}

.titrehabitat{
    font-size: 15px;
    font-weight: bold;}

#imghebergement{
    width: 60%;
    height: 40%;
    padding-top: 5px;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;}

#aubergecannebiere{
    background-color: white;
    border-radius: 20px;
    width: 230px;
    height: 190px;}

#hotelduport{
    background-color: white;
    border-radius: 20px;
    width: 230px;
    height: 190px;
    margin-left: 15px;}

#hotellesmoettes{
    background-color: white;
    border-radius: 20px;
    width: 230px;
    height: 190px;
    margin-left: 15px;}

#hebergements2{
    display: flex;
    margin-top: 30px;
    padding-left: 20px;
    margin-right: 40px;}

#hoteldelamer{
    background-color: white;
    border-radius: 20px;
    width: 230px;
    height: 190px;}

#aubergelepanier{
    background-color: white;
    border-radius: 20px;
    width: 230px;
    height: 190px;
    margin-left: 15px;}

#hotelchezamina{
    background-color: white;
    border-radius: 20px;
    width: 230px;
    height: 190px;
    margin-left: 15px;}

#afficher{
    display: flex;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 15px;
}




#aside{
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    margin-right: 20px;
    width: 30%;}











#footer {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 300px;
    background-color: #F2F2F2;
}

.titrefooter{
    margin-inline-start: 30px;
}

.liste{
    list-style-type: none;
    padding-inline-start: unset
}

