body{
    font-family: 'Raleway', sans-serif;
margin-left: auto;
margin-right: auto;
}

   

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;}

header a {
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-size: 14px;}  
    
header li a:hover{
    color:#0065FC;
    border-top:3px solid #0065FC;
    margin-bottom: 12px;
}


 #logo{
    max-height: 50%;
    max-width: 50%;
    margin-left: 25px;}

#accueil{ display: flex;
    flex-direction: row;
    list-style-type: none;
}



#hebergements{
    padding-right: 40px;
    }

#activités{
    padding-left: 30px;
    padding-right: 20px;}


/*Section 1*/

#section1{
    padding-left: 30px;
margin-left: 20px;
margin-right: 20px;}

#titre{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 9px;}

#soustitre{
    font-size: 14px;
    margin-top: 5px;}

#formulaire{
    width: 390px;
    display: flex;}

#iconmap{
    height: 45px;
    width: 45px;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center; }

#localisation{
    height: 45px;
    width: 190px;
    margin-left: 20px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    color: black;
    font-size: 20px;}

#recherche{
    border: none;
    background-color: #0065FC;
    color: white;
    border-radius: 0px 15px 15px 0px;
    height: 45px;
    width: 110px;
    cursor: pointer;
    }

button{
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 25px 25px 25px 25px;
    padding-right: 20px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #cacaca;
    background-color: white;
    cursor: pointer;
    margin-right: 25px;}

button:hover{
    background-color: #DEEBFF;
    border:#DEEBFF;
}

#filtres{
    display: flex;
    align-items: center;
    margin-top: 25px;}

#filtres h3{
    margin-right: 35px;
    font-size: 15px;
    font-weight: bold;}

.icones{
        display: flex !important;
        color:#0065FC;
        background-color: #DEEBFF;
        border-radius: 25px ;
        border: 2px solid #DEEBFF;
        height: 36px;
        width: 36px;
        font-size: 15px;
        margin-left: -8px;
        margin-right: 10px;
        align-items: center;
       justify-content: space-around;}  

  



#info{
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 15px;}
#info .fas.fa-info{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#0065FC ;
    border: 1px solid grey;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    margin-right: 10px;}



/*Hebergements a marseille*/

#sectionaside{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 60px;
    margin-bottom: 50px;
}

#section2{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-right: 40px;
    margin-left: 30px;
    padding-left: 20px;
    padding-bottom: 40px;
    width: 60%;}


#hebergementsmarseille{
    display: flex;
    margin-top: 40px;
    margin-left: 25px;
    margin-bottom: 15px;
    font-size: 17px;}

.bleu{
    color:#0065FC}



.gris{
    color:#F2F2F2;}

#hebergements1{
    display: flex;
    padding-left: 10px;
    margin-right: 30px;}

.titrehabitat{
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    margin-top: 2px;
    margin-bottom: 4px;}

.imghebergement{
    width: 96%;
    height: 60%;

    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;}



.infohebergements{
    display:flex;
    flex-direction: column;
}
.nuits{
    padding-top: none;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 10px;
    font-size: 12px;}

.prix{
    font-weight: bold;}

.etoiles{
    padding-left: 10px;
    font-size: 10px;
    margin-top: 4px;}

.imghebergement img{
    width: 96%;
    height: 60%;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;}



#aubergecannebiere{
    background-color: white;
    box-shadow:1px 2px 2px #cacaca;
    cursor: pointer;
    border-radius: 20px;
    width: 230px;
    height: 190px;}

#hotelduport{
    background-color: white;
    box-shadow:1px 2px 2px #cacaca;
    cursor: pointer;
    border-radius: 20px;
    width: 230px;
    height: 190px;
    margin-left: 15px;}

#hotellesmoettes{
    background-color: white;
    box-shadow:1px 2px 2px #cacaca;
    cursor: pointer;
    border-radius: 20px;
    width: 230px;
    height: 190px;
    margin-left: 15px;}

#hebergements2{
    display: flex;
    margin-top: 30px;
    padding-left: 10px;
    margin-right: 30px;}

#hoteldelamer{
    background-color: white;
    box-shadow:1px 2px 2px #cacaca;
    cursor: pointer;
    border-radius: 20px;
    width: 230px;
    height: 190px;}

#aubergelepanier{
    background-color: white;
    box-shadow:1px 2px 2px #cacaca;
    cursor: pointer;
    border-radius: 20px;
    width: 230px;
    height: 190px;
    margin-left: 15px;}

#hotelchezamina{
    background-color: white;
    box-shadow:1px 2px 2px #cacaca;
    cursor: pointer;
    border-radius: 20px;
    background-size: 2%;
    width: 230px;
    height: 190px;
    margin-left: 15px;}

#imgamina{
    width: 96%;
    height: 60%;
    padding-top: 5px;
padding-left: 5px;
padding-right: 5px;
border-top-left-radius: 20px;
    border-top-right-radius: 20px;}

#afficher{
    display: flex;
    margin-top: 45px;
    margin-left: 15px;
    cursor: pointer;}

    section a {
        cursor: pointer;
        color : black;
        text-decoration: none;}

/*ASIDE LES PLUS POPULAIRES*/


#aside{
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 33%;}

#lpp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 17px;
    font-size: 17px;}

#articlepop{
    display: flex;
    flex-direction: column;}

.infopop{
    
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 9px;
}

#hotelsoleil{
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow:1px 2px 2px #cacaca;
    cursor: pointer;
    border-radius: 20px;
    height: 140px;
    width: 320px;
    margin-right: 35px;
    margin-left: 25px;
    margin-bottom: 30px;}

#imghotelsoleil{
    width: 130px;
    height: 130px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 4px;
    margin-top:5px;
    margin-bottom: 5px;
}

#aucoeur{
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow:1px 2px 2px #cacaca;
    cursor: pointer;
    border-radius: 20px;
    height: 140px;
    width: 320px;
    margin-right: 35px;
    margin-left: 25px;
    margin-bottom: 30px;}

#imgaucoeur{
    width: 130px;
    height: 130px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 4px;
    margin-top:5px;
    margin-bottom: 5px;}

#hotelbetb{
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow:1px 2px 2px #cacaca;
    cursor: pointer;
    border-radius: 20px;
    height: 140px;
    width: 320px;
    margin-right: 35px;
    margin-left: 25px;}


#imghotelbetb{
    width: 130px;
    height: 130px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 4px;
    margin-top:5px;
    margin-bottom: 5px;}

.etoilespop{
    margin-top: 60px;
    padding-left: 10px;
    font-size: 10px;}

#etoilespopulaire{
    margin-top: 45px;
    padding-left: 10px;
    font-size: 10px;}





/*Section3*/

#section3{
    margin-left: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-top: 60px;}

.titreactivites{
    font-size: 13px;
    font-weight: bold;
    padding-left: 10px;
    margin-top: 10px;
    margin-left:5px;
}

#activitésamarseille{
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 17px;
}

#articleactivites{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 30px;
    margin-right:35px;
}

.unactivite{
    display: flex;
    flex-direction: column;
    width: 250px ;
    height:350px ;
    border-radius: 20px;
    box-shadow: #F2F2F2 3px 3px 3px;}

#imgvieuxport{
    width: 250px;
    height: 305px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;}

 #imgpndc{
        width: 250px;
        height: 305px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;}

#deuxactivites{
    display: flex;
    flex-direction: column;}



#activitepomegues{
    border-radius: 20px;
    box-shadow: #F2F2F2 3px 3px 3px;
    width: 250px;
    height: 180px;
    margin-bottom: 15px;}

#imgpomegues{
    width: 250px;
    height: 135px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;}

#activitesfrioul{
    border-radius: 20px;
    box-shadow: #F2F2F2 3px 3px 3px;
    
    width: 250px ;
    height:155px;}

#imgfrioul{
    width: 250px;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;}

#activitenddlg{
    border-radius: 20px;
    box-shadow: #F2F2F2 3px 3px 3px;
    width: 250px ;
    height:155px;
}

    #imgnddlg{
        width: 250px;
        height: 110px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;}

#activiteparclongchamp{
    border-radius: 20px;
    box-shadow: #F2F2F2 3px 3px 3px;
    width: 250px;
    height: 180px;
    margin-top: 15px;   
}

    #imgparclongchamp{
        width: 250px;
        height: 135px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;}












/*FOOTER*/

#footer {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 300px;
    background-color: #F2F2F2;
}



.liste{
    list-style-type: none;
    padding-inline-start: unset}

footer a {
    cursor: pointer;
    color : black;
    text-decoration: none;}

