body{
    font-family: 'Raleway', sans-serif;
margin-left: auto;
margin-right: auto;
}

   

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2%;}

header a {
    cursor: pointer;
    color: black;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 38px;
    text-decoration: none;
    font-size: 14px;}  
    
header li a:hover{
    color:#0065FC;
    border-top:3px solid #0065FC;
    
    margin-bottom: 12px;
}


 #logo{
    max-height: 50%;
    max-width: 50%;
    margin-left: 5%;}

#accueil{ display: flex;
    flex-direction: row;
    list-style-type: none;
}



#hebergements{
    padding-right: 40px;
    padding-left: 2px;
   
    }

#activités{
    padding-left: 30px;
    padding-right: 20px;}


/*Section 1*/

#section1{
    padding-left: 2%;
margin-left: 2%;
margin-right: 2%;}

#titre{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 9px;}



#soustitre{
    font-size: 14px;
    margin-top: 5px;}

#formulaire{
    width: 390px;
    display: flex;}

#iconmap{
    height: 45px;
    width: 45px;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center; }

#localisation{
    height: 45px;
    width: 190px;
    margin-left: 20px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    
    color: black;
    font-size: 15px;
    font-weight: bold;
}

#recherche{
    border: none;
    background-color: #0065FC;
    color: white;
    border-radius: 0px 15px 15px 0px;
    height: 45px;
    width: 110px;
    cursor: pointer;
    }

button{
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 25px 25px 25px 25px;
    padding-right: 20px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #cacaca;
    background-color: white;
    cursor: pointer;
    margin-right: 25px;}

button:hover{
    background-color: #DEEBFF;
    border:#DEEBFF;
}

#filtres{
    display: flex;
    align-items: center;
    margin-top: 25px;}

#filtres h3{
    margin-right: 35px;
    font-size: 15px;
    font-weight: bold;}

.icones{
        display: flex !important;
        color:#0065FC;
        background-color: #DEEBFF;
        border-radius: 25px ;
        border: 2px solid #DEEBFF;
        height: 36px;
        width: 36px;
        font-size: 15px;
        margin-left: -8px;
        margin-right: 10px;
        align-items: center;
       justify-content: space-around;}  

  



#info{
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 15px;}
#info .fas.fa-info{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#0065FC ;
    border: 1px solid grey;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    margin-right: 10px;}



/*Hebergements a marseille*/

#sectionaside{
    display: flex;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 4%;
    
}

#section2{
    display: initial;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-right: 4%;
    margin-left: 3%;
    width: 60%;}


#hebergementsmarseille{
    display: flex;
    margin-top: 6%;
    margin-left: 4%;
    margin-bottom: 2%;
    font-size: 1em;}

.bleu{
    color:#0065FC}



.gris{
    color:#F2F2F2;}

#hebergements1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 4%;
    height: 30%;}

.titrehabitat{
    font-size: 0.8em;
    font-weight: bold;
    padding-left: 5%;
    margin-top: 1%;
    margin-bottom: 2%;}

.imghebergement{
    width: 96%;
    height: 60%;
    object-fit: cover;
    padding-top: 2%;
    padding-left: 2%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;}



.infohebergements{
    display:flex;
    flex-direction: column;}

.nuits{
    padding-top: none;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 10px;
    font-size: 0.7em;}

.prix{
    font-weight: bold;}

.etoiles{
    padding-left: 10px;
    font-size: 0.6em;
    margin-top: 4px;}





#aubergecannebiere{
    background-color: white;
    box-shadow:1px 2px 2px #cacaca;
    cursor: pointer;
    border-radius: 20px;
    width: 55%;
    height: 87%;}

#hotelduport{
    background-color: white;
    box-shadow:1px 2px 2px #cacaca;
    cursor: pointer;
    border-radius: 20px;
    width: 55%;
    height: 87%;
    margin-left: 3%;}

#hotellesmoettes{
    background-color: white;
    box-shadow:1px 2px 2px #cacaca;
    cursor: pointer;
    border-radius: 20px;
    width: 55%;
    height: 87%;
    margin-left: 3%;}

#hebergements2{
    display: flex;
    margin-top: 3%;
    margin-left: 4%;
    margin-right: 4%;
    height: 30%;}

#hoteldelamer{
    background-color: white;
    box-shadow:1px 2px 2px #cacaca;
    cursor: pointer;
    border-radius: 20px;
    width: 55%;
    height: 87%;}

#aubergelepanier{
    background-color: white;
    box-shadow:1px 2px 2px #cacaca;
    cursor: pointer;
    border-radius: 20px;
    width: 55%;
    height: 87%;
    margin-left: 3%;}

#hotelchezamina{
    background-color: white;
    box-shadow:1px 2px 2px #cacaca;
    cursor: pointer;
    border-radius: 20px;
    background-size: 2%;
    width: 55%;
    height: 87%;
    margin-left: 3%;}

#imgamina{
    width: 96%;
    height: 60%;
    padding-top: 5px;
padding-left: 4px;

border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;}

#afficher{
    display: flex;
    margin-top: 2%;
    padding-left: 4%;
    cursor: pointer;}

    section a {
        cursor: pointer;
        color : black;
        text-decoration: none;}

/*ASIDE LES PLUS POPULAIRES*/


#aside{
    background-color: #F2F2F2;
    border-radius: 20px;
    display: initial;
    flex-direction: column;
    width: 33%;}

#asidehotel{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#lpp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 9%;
    margin-left: 7%;
    margin-top: 10%;
    margin-bottom: 6%;
    font-size: 1em;}

#titrepop1{
    font-size: 0.8em;
    margin-left:12%;
}

#titrepop2{
    font-size: 0.8em;
    margin-left:10%;
}

#titrepop3{
    font-size: 0.8em;
    margin-left:13%;
}


#nuitspop1{
    font-size: 0.7em;
    margin-left:12%;
}
#nuitspop2{
    font-size: 0.7em;
    margin-left:10%;
}
#nuitspop3{
    font-size: 0.7em;
    margin-left:13%;
}

#etoilespop1{
    font-size: 0.6em;
    margin-left: 12%;
    margin-top:24%;
}

#etoilespop2{
    font-size: 0.6em;
    margin-left: 10%;
    margin-top:19%;
}


#etoilespop3{
    font-size: 0.6em;
    margin-left: 13%;
    margin-top:24%;
}

#flexpopulaires{
    display: flex;
    flex-direction: column;
    }
#divvide{
    flex: 1;}

#soleildumatin{
    display: flex;
    margin-top:1% ;
    margin-left:7%;
    margin-right: 7%;
    flex-direction: row;
    background-color: white;
    box-shadow: 1px 2px 2px #cacaca;
    cursor: pointer;
    border-radius: 20px;
    height: 98%;
    width: 85%;
}
#imgsoleildumatin{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 3%;
    margin-top:3%;
    width: 125px;
    height:115px;
    object-fit: cover;}

#aucoeurdeleau{
    display: flex;
    margin-top:7% ;
    
    margin-left:7%;
    margin-right: 7%;
    flex-direction: row;
    background-color: white;
    box-shadow: 1px 2px 2px #cacaca;
    cursor: pointer;
    border-radius: 20px;
    height: 83%;
    width: 85%;
}
#imgaucoeurdeleau{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 3%;
    margin-top:3%;
    width: 125px;
    height:115px;
    object-fit: cover;
}

#toutbleuetblanc{
    display: flex;
    margin-top:7% ;
    margin-left:7%;
    margin-right: 7%;
    background-color: white;
    box-shadow: 1px 2px 2px #cacaca;
    cursor: pointer;
    border-radius: 20px;
    height: 72%;
    width: 85%;
}
#imgtoutbleuetblanc{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 3%;
    margin-left: 3%;
    
    width: 125px;
    height:115px;
    object-fit: cover;}
margin-bottom: 19%;

/*Section3*/

#sections3{
    margin-left: 4%;
    margin-bottom: 3%;
    margin-right: 4%;
    margin-top: 6%;}

.titreactivites{
    font-size: 0.8EM;;
    font-weight: bold;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left:3%;
}

.titreactivites2{
    font-size: 0.8EM;;
    font-weight: bold;
    margin-left: 7%;
    padding-bottom: 6%;
}


.titreactivites3{
    font-size: 0.8EM;;
    font-weight: bold;
    padding-bottom: 8%;
    margin-top: 5%;
    margin-left:7%;
}

#activitésamarseille{
    margin-left: 4%;
    margin-top: 4%;
    margin-bottom: 2%;
    font-size: 1em;
}

#articleactivites{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 4%;
    margin-right:4%;
    margin-bottom: 4%;
}

.unactivite{
    display: flex;
    flex-direction: column;
    
    border-radius: 20px;
    box-shadow: #F2F2F2 3px 3px 3px;}

#imgvieuxport{
    width: 250px;
    height: 305px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;}

 #imgpndc{
        width: 250px;
        height: 305px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;}

#deuxactivites{
    display: flex;
    flex-direction: column;}



#activitepomegues{
    border-radius: 20px;
    box-shadow: #F2F2F2 3px 3px 3px;
    
    margin-bottom: 15px;}

#imgpomegues{
    width: 250px;
    height: 135px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;}

#activitesfrioul{
    border-radius: 20px;
    box-shadow: #F2F2F2 3px 3px 3px;
    margin-top:9%;
    }

#imgfrioul{
    width: 250px;
    height: 98px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;}

#activitenddlg{
    border-radius: 20px;
    box-shadow: #F2F2F2 3px 3px 3px;
   
}

    #imgnddlg{
        width: 250px;
        height: 98px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;}

#activiteparclongchamp{
    border-radius: 20px;
    box-shadow: #F2F2F2 3px 3px 3px;
    
    margin-top: 9%;   
}

    #imgparclongchamp{
        width: 250px;
        height: 135px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;}












/*FOOTER*/

#footer {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 300px;
    background-color: #F2F2F2;
}



.liste{
    list-style-type: none;
    padding-inline-start: unset}

footer a {
    cursor: pointer;
    color : black;
    text-decoration: none;}

